* {
  border-radius: 0 !important;
}

body{
	/*background-color: lightgray;*/
	padding-top:49px;
}

/*Remove Navbar bottom margin*/
/*.navbar{*/
	/*margin-bottom: 0px;*/
/*}*/

.navbar{
	color: #555;
}

/*Navbar links color*/
.navbar .navbar-nav li a {
    color: #555;
}

/*Brand color*/
.navbar .navbar-brand{
    color: #f0ad4e;
    /*padding-top:8px;*/
}

/*Remove margin-top from h1 when the navbar is collapsed, so its centered*/
@media (max-width: 768px) {
	#brand{
		margin-top: 0px;
	}
}

.navbar-toggle{
	/*border-color:transparent;*/
	border-color: #555;
}

.navbar-inverse .navbar-toggle .icon-bar{
	background-color: #555;
}

.navbar-default{
	/*background-color: transparent;*/
	background-color: white;
	border-color: transparent;
	/*padding-bottom: 10px;*/
}

#jumbotron-main.jumbotron{
	background: url("../img/jumbotron/city.jpg") no-repeat center center;
	background-size: cover;
	/*background-repeat: no-repeat;*/
	min-height: 600px;
	/*position: fixed;*/
	/*background-attachment: fixed;*/
}

.glyphicon{
	font-size: 5em;
}


/*colors*/

.color-555{
	color: #555;
}