*{
  border-radius: 0 !important;
}

body{
	/*background-color: lightgray;*/
	padding-top:49px;
}

/*Remove Navbar bottom margin*/
/*.navbar{*/
	/*margin-bottom: 0px;*/
/*}*/

.navbar{
	color: #333;
}

/*Navbar links color*/
.navbar .navbar-nav li a {
    color: #333;
}

/*Brand color*/

.phone{
    color: #f0ad4e;
    /*padding-top:8px;*/
}

#brand{
	color: #333;
}

/*Remove margin-top from h1 when the navbar is collapsed, so its centered*/
@media (max-width: 768px) {
	#brand{
		margin-top: 0px;
	}
}

.navbar-toggle{
	/*border-color:transparent;*/
	border-color: #555;
}

.navbar-inverse .navbar-toggle .icon-bar{
	background-color: #555;
}

.navbar-default{
	/*background-color: transparent;*/
	background-color: white;
	border-color: transparent;
	/*padding-bottom: 10px;*/
}


#contact-button{
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}

#contact-button{
	margin-top: 20px;
	padding: 18px 20px;
	font-size: 30px;
	text-decoration: none;
}

#jumbotron-main.jumbotron{
	background: url("../img/jumbotron/city.jpg") no-repeat center center;
	background-size: cover;
	min-height: 93vh;
}

#jumbotron-whatwedo.jumbotron{
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/jumbotron/2.jpg") no-repeat center center;
	background-size: cover;
	min-height: 600px;
}